transformers
einops
accelerate
langchain
langchain-community
langchain-chroma
langchain_google_genai
bitsandbytes
tiktoken
sentence-transformers
python-dotenv
faiss-cpu
langchain_huggingface
streamlit